.crown {
  height: 100px;
  float: left;
  margin-right: 10px;
}

#crown {
  color: purple;
}

.gray {
  background-color: #D3D3D3;
}

.wikilogo {
  height: 100px;
}

h1 h2 {
  font-family: sans-serif;
}
